{% extends "AgenciaApp/base.html" %}

{% block content %}
<br><br>
<h3 style="text-align: center; color: black;"><strong>Agregar Marca</strong></h3>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" action="{% url 'automovil:editar_marca_api' marca.pk %}" enctype="multipart/form-data" class="auto-form">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="nombre"><strong style="color: #333;">Nombre de Marca:</strong></label>
                    <input type="text" name="nombre" id="nombre" class="form-control" value="{{ marca.nombre }}">
                </div>

                <button type="submit" class="btn btn-primary btn-block">Guardar Cambios</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
